@font-face {
  font-family:'Roboto';
  src: url(./fonts/Roboto-Italic.ttf);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/*Header li*/

.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}
.list:hover {
  background-color: rgb(236, 233, 233);
}
.ul {
  width: 220px;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  padding-inline-start: 25px;
  list-style-type: none;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}
.instaclone {
  font-family: 'Roboto';
  padding-left: 0;
  font-size: 34px;
  margin-bottom: 32px;
  color:rgb(112, 132, 106)
}
.icon {
  width: 25px;
  cursor: pointer;
}
.menuLeft {
  padding-left: 16px;
}
.profileimage {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 100px;
}
.d-none {
  display: none;
}

/*Header mitte*/
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  padding-left: 35%;
  list-style: none;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-fit: cover;
}
.imageBorder {
  border: 2px solid #ec5719;
  padding: 2px;
}
.followerList {
  margin-right: 16px;
  cursor: pointer;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
}

/*NewComment*/
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newPosts {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;
}
.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.profileName {
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}
.date {
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}
.postImage {
  width: 700px;
  height: 457px;
  border-radius: 7px;
  object-fit: cover;
  display: block;
  margin: 2px 2px auto;
}
.postIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.commentsContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputComment {
  width: 300px;
  height: 20px;
  border: none;
}
button {
  border: none;
  background-color: white;
  color: rgb(93, 47, 184);
  cursor: pointer;
  font-weight: bold;
}
.separator {
  background-color: lightgrey;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 16px;
}
.mobile {
  display: none;
}
.textalign {
  text-align: center;
}
@media (max-width: 1400px) {
  .newPosts {
    justify-content: center;
  }
  .menuLeft {
    display: none;
  }
  .list {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40px;
  }
  .ul {
    width: 50px;
  }
  .d-none {
    display: flex;
    margin-top: 45px;
    margin-bottom: 32px;
  }
  .instaclone {
    display: none;
  }
}
@media (max-width: 1300px) {
  .header {
    padding-left: 25%;
  }
}
@media (max-width: 1160px) {
  .newPosts {
    margin-left: 0;
  }
  .header {
    padding-left: 20%;
  }
}
@media (max-width: 912px) {
  .postImage {
    width: 500px;
  }
  .header {
    display: none;
  }

  .mobile-header {
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
  }
  .mobile-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .mobile-search-icon {
    width: 250px;
    background-color: #e8e6e6;
    margin-right: 16px;
  }
  .instaclone {
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile-search {
    display: flex;
    margin: 0;
  }
  .ul {
    display: none;
  }
  .d-none{
    display: none;
  }
  #content {
    margin-top: 100px;
  }
}

@media (max-width: 640px) {
  .postImage {
    width: 400px;
  }
}

@media (max-width: 500px) {
  .list {
    width: 100px;
  }
  .postImage {
    width: 300px;
  }
  .heart {
    width: 50px;
  }
}
@media (max-width: 340px) {
  .mobile-search-icon {
    display: none;
  }
  .postImage {
    width: 250px;
  }
  .post {
    width: 250px;
  }
}

@media (min-width: 1800px) {
  .newPosts {
    justify-content: flex-start;
    margin-left: 25%;
  }
}
