body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.ul {
  width: 200px;
  height: 100vh;
  margin-top: 0;
  position: fixed;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  padding-inline-start: 25px; /*Abstand auf der linken Seite des Elements*/
  list-style-type: none; /*marker von ul entfernen*/
}
.list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}
.list:hover {
  background-color: rgb(236, 233, 233);
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}
.instaclone {
  
  font-family:serif;
  padding-left: 0;
  font-size: 34px;
  margin-bottom: 32px;
}
.icon {
  width: 25px;
}
.menuLeft {
  padding-left: 16px;
}
.profileimage {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 100px;
}

.mobile {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.header {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
  padding-left: 25%;
}
.image {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  object-fit: cover;
}
.imageBorder {
  border: 2px solid #ec5713;
  padding: 2px;
}
.followerList {
  margin-right: 16px;
  cursor: pointer;
}

.story {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.newPosts {
  display: flex;
  justify-content: space-evenly;
  margin-left: 15%;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile{
  display: flex;
  justify-content: flex-start;
  align-items: center
}
.profileName{
  font-weight: 400;
  font-size: 14px;
  padding-left: 10px;
}
.date{
  font-size: 14px;
  color:gray;
  margin-left: 10px;
}
.postImage{
  width:700px;
  height:457px;
  border-radius: 7px;
  object-fit: cover;

}
.postIcons{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top:10px;
  margin-bottom: 16px;
}
.commentsContent{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputComment{
  width:300px;
  height:20px;
  border:none;
}
button{
  border:none;
  background-color: white;
  color:rgb(93, 47, 184);
  cursor: pointer;
  font-weight: bold;
}
.separator{
  background-color: lightgrey;
  height:1px;
  margin-top:20px;
  margin-bottom: 16px;
}
.textalign{
  text-align: center;
}
.menwithheart{
  width: 50px;
  height:50px;
  padding-left: 12px;
 
}
@media (max-width: 1400px) {
  .instaclone {
    display: none;
  }
  .list {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 40px;
  }
  .menuLeft {
    padding-left: 16px;
  }
  .newPosts {
    justify-content: center;
  }
}

@media (max-width: 1160px) {
  .newPosts {
    margin-left: 0;
  }
}
@media (max-width: 912px) {
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
    margin-top: 0;
    position: fixed;
    background-color: white;
  }
  .mobile-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-search-icon {
    width: 250px;
    background-color: #e8e6e6;
    margin-right: 16px;
  }
  .mobile-search {
    display: flex;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .list {
    width: 100px;
  }
}
